.task-row .html-container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--checkbox-label-gap);
    padding: var(--checkbox-label-padding);
    height: 100%;
    border-color: white;
    border-width: thin;
}

.task-row .block {
    border-style: solid;
    border-color: white;
    border-width: thin;
    padding: var(--block-padding);
}

