.task-row .html-container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--checkbox-label-gap);
    padding: var(--checkbox-label-padding);
    height: 100%;
}

.task-row .block {
    border-style: solid !important;
    border-color: white !important;
    border-width: thin !important;
    padding: var(--block-padding);
}

